body {
  background-color: rgb(178, 217, 230);
}

h1 {
  color: white;
  text-align: center;
}

.title, .question, .button {
  font-family: 'Tac One', sans-serif;
}

p {
  font-family: verdana;
  font-size: 20px;
}

